.total {
  width: 1500px;
}

.title {
  color: rgb(33, 42, 156);
}

.title_coachtech {
  font-size: 40px;
}

.title_select {
  text-align: right;
  font-weight: bold;
 
}

.home {
  display: inline-block;
  margin: 0 30px 0 0;
}

.jigyou {
  display: inline-block;
  margin: 0 30px 0 0;
}

.saiyou {
  display: inline-block;
  margin: 0 30px 0 0;
}

.otoi {
  display: inline-block;
}

.first {
  position: relative;
}

.first__img img {
  width: 100%;
}

.first__img {
  width: 50%;
  height: 50%;
  position: relative;
  top: 70px;
  left: 50%;
}

.first__color {
  width: 70%;
  height: 200px;
  background: rgb(33, 42, 156);
}

.first__content {
  position: absolute;
  font-size: 80px;
  top: 60%;
}
